doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://127.0.0.1/me/JSFile/style.css')
    script(type='text/javascript',src="http://127.0.0.1/me/JSFile/JSFile.js")
  body
    block content